.main {
  * {
    box-sizing: border-box;
  }

  @media (hover: hover) and (pointer: fine) {
    .flex-card.hover {
      transition: all 250ms ease-in-out;
    }
  }
  @media screen and (hover: hover) and (pointer: fine) and (min-width: 600px) {

    .flex-card.hover:hover {
      transform: scale(1.1);
    }
  
    .flex-card.hover:hover .card-content .text-section p.ellipses-overflow {
      opacity: 1;
      max-height: 5em;
    }
  
    .flex-card.hover .card-content .text-section p.ellipses-overflow {
      max-height: 0;
      opacity: 0;
      transition: all 250ms ease-in;
    }
  }
  section {
    position: relative;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    display: block;

    article {
      width: calc(100% - 3rem);
      max-width: calc(1380px - 10.5rem);
      margin-left: auto;
      margin-right: auto;

      .content {
        width: 100%;
        max-width: calc(1380px - 10.5rem);
        // max-width: calc(1380px - 10.5rem);
      }

      .media {
        min-height: 28rem;
        margin-top: 4rem;
        .grid-wrapper {
          max-width: calc(1380px - 10.5rem);
          margin-left: auto;
          margin-right: auto;
          display: grid;
          grid-template-columns: repeat(2, minmax(40%, 1fr));
          row-gap: 4rem;
          column-gap: 2rem;

          .flex-card {
            border-radius: 8px 8px 8px 0;
            padding: 2rem;
            padding-bottom: 6rem;
            display: inline-block;
            height: 100%;
            width: 100%;
            background-color: #162227;
            color: #dee2e6;
            box-sizing: border-box;
            position: relative;
          }
        }
      }
    }

    h2 {
      // padding-top: 2.5rem;
    }
  }

  .flex-card .card-content .card-media-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
  }

  .flex-card .card-content .card-media-wrapper[data-category]:not([data-video-url]) {
    padding-left: 2rem;
    white-space: pre-line;
  }

  .flex-card .card-content .card-media-wrapper[data-category]:not([data-video-url])::before {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    left: 1rem;
    width: calc(100% - 2rem);
    text-align: right;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    line-height: 1;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.08em;
  }

  .flex-card .card-content .card-media-wrapper .card-media {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px 8px 8px 0;
  }

  @media screen and (min-width: 480px) {
    section {
      padding-top: 1.5rem;
      padding-bottom: 3rem;

      h2 {
        // max-width: 29.5rem;
        // padding-top: 3rem;
      }
    }
  }

  @media screen and (min-width: 600px) {

    .flex-card .card-content .card-media-wrapper[data-category]:not([data-video-url]) {
      margin-left: -1rem;
      width: calc(100% + 1rem);
    }

    .flex-card .card-content .card-media-wrapper[data-category]:not([data-video-url])::before {
      left: 0.5rem;
      transform: rotate(-90deg) translateY(50%);
    }
  }

  @media screen and (min-width: 768px) {
    section {
      padding-top: 2rem;
      padding-bottom: 4rem;

      h2 {
        // max-width: 30rem;
      }
    }
  }

  @media screen and (min-width: 800px) {

    section article .media .grid-wrapper {
      grid-template-columns: repeat(3, minmax(30%, 1fr));
    }
  }

  @media screen and (min-width: 960px) {
    section {
      padding-top: 2.25rem;
      padding-bottom: 4.5rem;

      h2 {
        // max-width: 33.75rem;
      }
    }
  }

  h2 {
    font-size: 2rem;
    line-height: 1.4;
  }

  @media screen and (min-width: 480px) {
    h2 {
      font-size: 2.25rem;
      line-height: 1.28;
    }
  }

  @media screen and (min-width: 768px) {
    h2 {
      font-size: 2.5rem;
      line-height: 1.28;
    }
  }

  @media screen and (min-width: 960px) {
    h2 {
      font-size: 2.75rem;
      line-height: 1.28;
    }
  }

  @media screen and (min-width: 1440px) {
    section {
      padding-top: 3rem;
      padding-bottom: 6rem;
    }
  }
  h3 {
    font-size: 2rem;
    line-height: 1.125;
    font-weight: 400;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;/*省略几行写几*/
    -webkit-box-orient: vertical;
  }
  h3:not(:last-child) {
    margin-bottom: 2.25rem;
  }
  @media screen and (min-width: 600px) {
    h3 {
      font-size: 2.5rem;
    }
  }
  @media (hover: hover) and (pointer: fine) {
    a.cta-text:hover::before {
      background-color: #dee2e6;
    }
  }
  a {
    text-decoration: none;
  }
  
  @media (hover: hover) and (pointer: fine) {
  
    a:not(.cta-text):hover,
    a:not(.cta-text):focus {
      text-decoration: underline;
    }
  }
  @media (hover: hover) and (pointer: fine) {

    a.cta-text:hover {
      cursor: pointer;
    }
  
    a.cta-text:hover::before {
      background-color: #6347ff;
      max-width: 100%;
    }
  }
  a:hover::after,
  a:focus::after {
    width: 100%!important;
    opacity: 1!important;
  }
  a:hover::before {
		background-color: #6347ff;
		max-width: 100%;
	}
  a.cta-text {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 0.75em;
    display: inline-block;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #dee2e6;
  }
  a.cta-text::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    transition: 0.25s all ease-out;
    background-color: currentColor;
    max-width: 3rem;
  }
}