html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	vertical-align: middle;
}

*,
::after,
::before {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.pc {
	display: block !important;
}

.mobile {
	display: none !important;
}

@media only screen and (max-width: 768px) {
	.pc {
		display: none !important;
	}

	.mobile {
		display: block !important;
	}
}

html,
body {
	width: 100vw;
	height: 100%;
}

body {
	min-width: 280px;
	margin: 0;
	overflow-x: hidden
}

#app {
	min-height: 100vh;
}

html {
	font-size: 7.98739px !important
}



*,
::after,
::before {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background: rgba(89, 209, 71, .5);
}

::-webkit-scrollbar-track {
	border-radius: 1rem;
	background: rgba(221, 221, 221, .25);
}